@using FinanceWebsite.Library.BusinessLogic.Managers;

@model FinanceWebsite.MVC.Models.StockQuote
@{
    /**/

    /**/

    ViewBag.Title = "Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(m => m.TickerSymbol)
                @Html.TextBoxFor(
                    model => model.TickerSymbol,
                    new
                    {
                        @class = "form-control",
                        @id = "inputTickerSymbol"
                    })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.ChartBeginDate)
                @Html.TextBoxFor(
                    m => m.ChartBeginDate,
                    "{0:yyyy-MM-dd}",
                    new
                    {
                        @class = "form-control",
                        @type = "date",
                        @value = Model.ChartBeginDate,
                        @id = "edtChartBeginDate"
                    })
                @Html.ValidationMessageFor(m => m.ChartBeginDate)
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.ChartEndDate)
                @Html.TextBoxFor(
                    m => m.ChartEndDate,
                    "{0:yyyy-MM-dd}",
                    new
                    {
                        @class = "form-control",
                        @type = "date",
                        @value = Model.ChartEndDate,
                        @id = "edtChartEndDate"
                    })
                @Html.ValidationMessageFor(m => m.ChartEndDate)
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Upper Indicators")
                @Html.DropDownList(
                   "upperIndicatorTypeSelect",
                   StockManager.AvailableUpperTechnicalIndicators.Select(
                       item => new SelectListItem
                       {
                           Text = item,
                           Value = item
                       }), new { @class = "form-control"})
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" id="upperIndicatorParametersInput" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button id="btnAddUpperIndicator" type="submit" class="btn btn-primary">+</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.Label("Lower Indicators")
                @Html.DropDownList(
                   "lowerIndicatorTypeSelect",
                   StockManager.AvailableLowerTechnicalIndicators.Select(
                       item => new SelectListItem
                       {
                           Text = item,
                           Value = item
                       }), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" id="lowerIndicatorParametersInput" />
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button id="btnAddLowerIndicator" type="submit" class="btn btn-primary">+</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="dropdown">
                <div class="form-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownUpperIndicators" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Upper Indicators
                    </button>
                    <div class="dropdown-menu" id="selectedUpperIndicators" aria-labelledby="dropDownUpperIndicators">
                        <div class="container">
                            <div class="row upperIndicator">
                                <div class="col-md-7 indicatorType">SMA</div>
                                <div class="col-md-2 indicatorParameters">10</div>
                                <div class="col-md-1">
                                    <button type="submit" class="removeUpperIndicator btn btn-danger">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dropdown">
                <div class="form-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownLowerIndicators" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selected Lower Indicators
                    </button>
                    <div class="dropdown-menu" id="selectedLowerIndicators" aria-labelledby="dropDownLowerIndicators">
                        <div class="container">
                            <div class="row lowerIndicator">
                                <div class="col-md-7 indicatorType">RSI</div>
                                <div class="col-md-2 indicatorParameters">14</div>
                                <div class="col-md-1">
                                    <button type="submit" class="removeLowerIndicator btn btn-danger">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button id="btnUpdateChart" type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        <div id="stockContainer" style="height: 800px" class="col-md-12"></div>
    </div>
</div>




@section scripts
{
    @Scripts.Render("~/bundles/highstock")
    <script src="~/Scripts/Common/StringUtilities.js" type="text/javascript"></script>
    <script src="~/Scripts/DataServiceClients/FinanceDataServiceClient.js" type="text/javascript"></script>
    <script src="~/Scripts/Stocks/quote.js" type="text/javascript"></script>
}

